.hero-image {
  .carousel-control-prev-icon {
    background-image: url(/images/previous.svg) !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .carousel-control-next-icon {
    background-image: url(/images/next.svg) !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .carousel-indicators li {
    background-color: rgb(63, 63, 63);
    height: 5px;
  }
}
