.page-home {
  h5 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  hr {
    width: 200px;
    border-top: 1px solid black;
  }

  .adventege {
    margin-top: 80px;
  }

  .favorite {
    margin-top: 100px;
  }
}
